<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Goldman&family=Raleway:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/take_quiz.js"></script>
  <title>Attempt Quiz</title>
  
</head>
<body>
  <%- include('partials/_header') %>
  <main class = "bgimage">
    <h1 class = "style">
      <u><%= quizData.title %></u>
    </h1>
    <div class = "questions">
      <form action="/quizzes/<%=quizData.quiz_id%>/attempts" method="POST">
        <% for (const question of quizData.questions) { %>
          <div class="questioncard">
            <div class = "que">
              <h5><%= question.question %></h5>
            </div>
        
            <div class = "options">
              <% for (const answer of question.answers) { %>
                <input type="radio" name="<%=question.question_id%>" value="<%= answer.answer_id%>" id="<%= answer.answer_id%>">
                <label for="<%= answer.answer_id%>"><%=answer.answer_value%></label>
                <br>
              <%}%>
            </div>
          </div>
        <%}%>

        <div class = "submit">
          <p><h5>Click submit to view your results</h5></p>
        </div>
        <button type="submit" class="btn-lg btn-primary">Submit</button>
      </form>
    </div>
  </main>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</body>
</html>
