<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/user_quiz.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

</head>

<body class="user-quiz-details-page">
  <%- include('partials/_header') %>
    <h1>Quiz Details</h1>
    <div class="quiz-details">
      <h3>
        <%= quiz.title%>
      </h3>
      <div>
        <h5> Created by: <%= quiz.creator %>
        </h5>
        <div class="quiz-photo-desc">
          <img class="quiz-photo" src=<%=quiz.photo_url %>>
          <div class="quiz-detail-display">
            <p class="desc">
              <%= quiz.description %>
            </p>
            <div>
              <p> Category: <%= quiz.category%>
              </p>
              <p> Public Visibility: <%= quiz.visibility %>
              </p>
            </div>
          </div>
          <div class="quiz-detail-display ">
            <p> Quiz taken: <%= quiz.total_attempts %>
            </p>
            <p> AVG Score: <%= quiz.average_score %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% for (let question of quiz.questions) { %>
      <table  class="table user-quiz-questions">
        <thead>
          <tr>
            <th style="word-wrap:break-word; width: 40em">Question <%= quiz.questions.indexOf(question) + 1 %>: <%=
                  question.question %>
            </th>
            <th>Correct Answer:</th>
          </tr>
        </thead>
        <tbody>
          <% for (let answer of question.answers) { %>
            <tr>
              <td style="word-wrap:break-word; width: 40em">
                <%= String.fromCharCode(question.answers.indexOf(answer) + 65) %>. <%= answer.answer_value%>
              </td>
              <td>
                <%= answer.answer_is_correct%>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <% } %>
        <div class="user-quiz-buttons">
          <!-- redirect to edit page -->
          <form method="GET" action="/users/<%= user_id %>/quizzes/<%= quiz.quiz_id %>/edit">
            <button type="submit" class="btn btn-outline-info">Edit Quiz</button>
          </form>
          <!-- delete quiz from quizzes db -->
          <form method="POST" action="/users/<%= user_id %>/quizzes/<%= quiz.quiz_id %>/delete?_method=DELETE">
            <button type="submit" class="btn btn-outline-danger">Delete Quiz</button>
          </form>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>



</body>

</html>
