<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Quiz Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user_quiz_edit.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  </head>

  <body class="user-quiz-details-page">
    <%- include('partials/_header') %>
    <main>
      <h1>Update Quiz</h1>
      <div class="quiz-details">
        <h3> <%= quiz.title%> </h3>
        <h5> Created by: <%= quiz.creator %> </h5>
          <div class="quiz-photo-desc">
            <img class="quiz-photo" src=<%= quiz.photo_url %>>
            <div class="quiz-detail-display">
              <p class="desc"> <%= quiz.description %> </p>
              <div>
                <p> Category: <%= quiz.category%> </p>
                <p> Public Visibility: <b><%= quiz.visibility %></b> </p>
              </div>
            </div>
            <div>
              <form method="POST" action="/users/<%= quiz.creator_id %>/quizzes/<%= quiz.quiz_id %>/edit?_method=PUT">
                <button type="submit" class="btn btn-outline-info">Change Visibility</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- update quiz details -->
      <form method="POST" action="/users/<%= quiz.creator_id %>/quizzes/<%= quiz.quiz_id %>?_method=PUT" class="new-details">
      <div  class='quize_detials'>
        <div>
          <label>Title:</label><input type="text" name="title" value="<%= quiz.title %>" require>
          <label class="category">Category:</label><input type="text" name="category" value="<%= quiz.category %>" require>

        </div>
          <label>Photo Url:</label><input type="text" name="photo_url" value="<%= quiz.photo_url %>" require>
          <label>Description:</label><input type="text" name="description" value="<%= quiz.description %>" require>

          <br>
          <label>Public Visibility: False</label>
          <% if (!quiz.visibility) { %>
            <input type="radio" name="visibility" value="false" checked="checked">
            <label>Public Visibility: True</label>
            <input type="radio" name="visibility" value="true" >
          <% } else { %>
            <input type="radio" name="visibility" value="false" checked="checked">
            <label>Public Visibility: True</label>
            <input type="radio" name="visibility" value="true" checked="checked">
          <% } %>
      </div>
      <div class="edit-quiz">
        <div>
          <% for (let question of quiz.questions) { %>
            <table class="table user-quiz-questions" >
                <thead>
                  <tr>
                    <th style="word-wrap:break-word; width: 40em">Question <%= quiz.questions.indexOf(question) + 1 %>: <%= question.question %> </th>
                    <th> Correct Answer:</th>
                    <th> Update Question: </th>
                    <th>
                        <input type="text" name="Q<%= question.question_id %>" value="<%= question.question%>" require> <!-- name need to be questionID-->
                    </th>
                    <th>Correct Answer</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let answer of question.answers)  { %>
                  <tr>
                      <td style="word-wrap:break-word; width: 40em"> <%= String.fromCharCode(question.answers.indexOf(answer) + 65) %>. <%= answer.answer_value%> </td>
                      <td> <%= answer.answer_is_correct%></td>
                      <td> Update <%= String.fromCharCode(question.answers.indexOf(answer) + 65) %>: </td>
                      <td>

                          <input type="text" value="<%= answer.answer_value %>" name="Q<%= question.question_id %>A<%= answer.answer_id %>" required>

                      </td>
                      <td>

                          <input type="radio" name="Correct_<%= question.question_id %>" value="<%= answer.answer_id %>" checked="checked" required>
                          <label>True</label>

                      </td>
                  </tr>
                  <% } %>
                </tbody>
            </table>
          <% } %>
        </div>
      </div>

      <div class="user-quiz-buttons">
        <!-- submit edit quiz info to db, need to update helper function to get the creator id number -->
        <!-- <form method="POST" action="/users/<%= quiz.creator_id %>/quizzes/<%= quiz.quiz_id %>?_method=PUT"> -->
          <button type="submit" class="btn btn-outline-info">Update Quiz</button>
        </form>
      </div>

      <!-- Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    </main>
  </body>
</html>
